body {
  margin: 0;
  background-color: #faf5e4;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App {
  text-align: center;
}

.business-url {
  color: black;
  text-decoration: none;
}

.buttons-sidebar {
  background-color: black;
}

.buttons-div {
  width: 10vw;
  max-width: 10vw;
}

.change-food-location {
  display: flex;
  padding-left: 0.3125rem;
}

.change-food-location-button {
  height: 1.75rem;
  padding-left: 0.625rem;
  width: 5.625rem;
  border: 0.0625rem solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 0.625rem;
  outline: none;
}

.change-food-location-button:hover {
  background-color: #f8b400;
  color:black;
}

.component-title {
  color: #004445;
  font-family: 'Baloo Bhai', cursive;
}

.footer {
  background-color:  #004445;
  color: #f8b400;
  padding: 0.9375rem;
  font-family: 'Baloo Bhai', cursive;
}

.header-container {
  background-color: #004445;
  margin: 0;
  width: 100%;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
}

.header-title {
  background-color: #004445;
  font-family: 'Baloo Bhai', cursive;
  color: #f8b400;
  padding: 0.625rem;
  margin: 0;
}

.individual-results-div {
  max-width: 20%;
  background-color: #faf5e4;
}

.links {
  margin: 0.625rem;
  color: black;
  text-decoration: none;
}

.main-div {
  display: flex;
}

.main-div-buttons {
  height: 100%;
  margin: auto;
}

.nav-div {
  width: 30%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links > * > button {
  text-decoration: none;
  color: white;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  outline: none;
}

.nav-links > * > button:hover {
  color: #f8b400;
  cursor: pointer;
}

.news-div {
  align-content: center;
  margin: auto;
  align-items: center;
}

.news-hr {
  max-width: 85%;
}

.news-img {
  max-width: 80%;
  border-radius: 4%;
}

.news-individual-divs {
  max-width: 80%;
  margin: auto;
}

.news-individual-divs > p {
  color: #004445;
}

.news-button {
  height: 1.75rem;
  padding-left: 0.625rem;
  width: 7.5rem;
  border: 0.0625rem solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 0.8125rem;
  outline: none;
}

.news-button:hover {
  background-color: red;
  color: black;
}

.news-title {
  color: #004445;
}

.recipes-individual-divs {
  max-width: 20%;
  padding: 0.625rem 0rem;
}

.recipes-individual-title {
  max-width: 80%;
  text-align: center;
  margin: auto;
  padding: 0.625rem 0rem;
  color: #004445;
}

.recipes-img {
  max-width: 80%;
  border-radius: 5%;
  transition: transform .2s;
}

.recipes-img:hover {
  transform: scale(1.05);
}

.recipes-links {
  text-decoration: none;
  padding: 0.625rem 0rem;
}

.recipes-div {
  justify-content: center;
}

.recipes-info {
  background-color: #2c786c;
  border-radius: 7%;
  max-width: 95%;
  margin: auto;
  color: white;
}

.results-div {
  border-radius: 5%;
}


.results-img {
  max-width: 80%;
  border-radius: 5%;
  transition: transform .2s;
}

.results-img:hover {
  transform: scale(1.1);
}

.results-info {
  background-color: #2c786c;
  border-radius: 5%;
  max-width: 80%;
  margin: auto;
  color: white;
}

.results-title {
  color: #004445;
}

.results-descripton {
  padding: 0.3125rem 0rem;
}

.recipes-to-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-to-display {
  display: flex;
  flex-wrap: wrap;
}

.search-form-div {
  width: 100%;
  position: relative;
  display: flex;
}

.search-box {
  width: 100%;
  border: 0.0625rem solid black;
  border-right: none;
  padding: 0.3125rem;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  outline: none;
}

.search-button {
  width: 5rem;
  height: 1.75rem;
  border: 0.0625rem solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 0.3125rem 0.3125rem 0;
  cursor: pointer;
  font-size: 0.9375rem;
  outline: none;
}

.sidebar-title {
  color: white;
  max-width: 80%;
  margin: auto;
  font-size: 1.3rem;
  padding: 0.9375rem 0rem;
}

.suggestions-button {
  display: block;
  margin: auto;
  padding: 0.625rem;
  width: 100%;
  font-size: 1.125rem;
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

.suggestions-button:hover {
  background-color: #f8b400;
  color: black;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .buttons-sidebar {
    display: none;
  }

  .change-food-location-button {
    max-width: 3.5rem;
    width: 3.5rem;
    font-size: 0.1rem;
  }

  .search-button {
    max-width: 2rem;
    width: 2rem;
    font-size: 0rem;
  } 

  .search-form-div {
    width: 15rem;
    max-width: 15rem;
  }

  .search-component {
    max-width: 30%;
  }

  .change-food-location {
    max-width: 30%;
  }

  .search-box {
    max-width: 4.5rem;
    width: 4.5rem;
    font-size: 0.4rem;
  }

  .nav-links {
    padding-right: 2rem;
  }

  .nav-links > * > button {
    font-size: 0.6rem;
    padding: 0.3rem;
  }

  .individual-results-div > * > p {
    font-size: 0.5rem;
  }

  .individual-results-div > h3 {
    font-size: 0.7rem;
  }

  .recipes-individual-divs > * > p, h4 {
    font-size: 0.5rem;
  }

  .recipes-individual-divs > h2 {
    font-size: 0.7rem;
  }

  .recipes-div > h1 {
    font-size: 0.9rem;
  }

}