body {
  margin: 0;
  background-color: #F5F5F5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.business-url {
  color: black;
  text-decoration: none;
}

.buttons-sidebar {
  background-color: #CCCCCC;
}

.categories-button {
  display: block;
}

.footer {
  background-color: #E6E6E6;
  color: black;
  padding: 15px;
}

.header-container {
  background-color: #E6E6E6;
  margin: 0;
}

.header-elements {
  display: flex;
  justify-content: space-between;
}

.header-title {
  background-color: #E6E6E6;
  color: black;
  padding: 20px;
  margin-top: 0;
}

.individual-results-div {
  max-width: 20%;
}

.links {
  margin: 10px;
  color: black;
  text-decoration: none;
}

.main-div {
  display: flex;
}

.main-div-buttons {
  width: 140px;
  height: 100%;
}

.nav-links {
  color: black;
}

.news-div {
  align-content: center;
  margin: auto;
}

.news-hr {
  max-width: 85%;
}

.news-img {
  max-width: 80%;
}

.news-individual-divs {
  max-width: 80%;
  margin: auto;
}

.news-links {
  text-decoration: none;
}

.recipes-individual-divs {
  max-width: 18%;
  margin: 10px;
}

.recipes-img {
  max-width: 80%;
}

.recipes-div {
  justify-content: center;
}


.results-img {
  max-width: 80%;
}

.recipes-to-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-to-display {
  display: flex;
  flex-wrap: wrap;
}

.search-form-div {
  padding-left: 15px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
